body{
    font-family: Arial, sans-serif;
    background-color: #f9fafc;
    margin: 0;
    padding: 0;
    
}
header{
    background-color:#880808;
    color: #fff;
    text-align: center;
    padding: 24px 0;
}
h1{
    margin: 0;
    font-size: 32px;
}
p{
    font-size: 16px;
    margin-top: 8px;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 32px;
}
.contact-info{
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 24px;
    margin: 16px;
    width: 500px;
    height: 400px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
 }
 .contact-info h2{
    color: #880808;
 }
.contact-info p{
    margin: 8px 0;
}

.contact-form{
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 40px;
    margin: 30px;
    width: 500px;
    height: 400px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
}
.contact-form h2{
    color:#880808;
    margin: 16px;
    font-size: 25px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 15px;

}
.contact-form button{
    background-color: #880808;
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}
.contact-form button:hover{
    background-color: #810b0b;
}
